{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .select2-container .select2-selection--single{
        height:40px !important ;
    }
</style>
<div class="container mt-5 p-3 shadow rounded" style="max-width: 600px;">
    <h2 class="text-center">Stock Market Analysis</h2>
    <form action="{% url 'stocks' %}" method="POST" enctype="multipart/form-data">
       {% csrf_token %}
        <div class = "form-group">
         {{ form  | crispy }}
        </div>

        <div class="form-group">
            <input type="submit" value="Get info" class="btn btn-primary">
        </div>
    </form>

    {% include 'alerts.html' %}
    {{ form.media }}
{% endblock %}